body {
  background-color: #788296;
  color: #ebfaeb;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
}

div {
  width: 50%;
  margin: 0 auto;
  padding-top: 10%;
  text-align: center;
}

img {
  margin: 0;
  padding: 0;
}

.mobile {
  display: none;
}

@media (max-width: 680px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    margin: 0 7%;
  }
}
